body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__element {
  color: #2196f3;
}

.page-header__nav {
  margin-left: 93px;
}

.page-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__nav-item {
  margin-right: 50px;
}

.page-header__nav-item:last-child {
  margin-right: 0;
}

.page-header__nav-link {
  color: #212121;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav-link:hover,
.page-header__nav-link:focus {
  color: #2196f3;
}

.page-header__nav-link--current {
  color: #2196f3;
}

.page-header__nav-link--current::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__contact-item:first-child {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact-item {
    margin-bottom: 10px;
  }
  .page-header__contact-item:last-child {
    margin-bottom: 0;
  }
}

.page-header__contact-link {
  color: #757575;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contact-link:hover, .page-header__contact-link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .page-header__contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header__icon {
  margin-right: 10px;
  fill: #757575;
}

.page-header__contact-link:hover .page-header__icon-envelope {
  fill: #2196f3;
}

.page-header__contact-link:hover .page-header__icon-smartphone {
  fill: #2196f3;
}

.page-header__nav-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
@media screen and (min-width: 481px) {
  .page-header__nav-btn {
    display: none;
  }
}

.page-header__icon-cross {
  display: none;
}

.page-header__nav-btn.is-open .page-header__icon-cross {
  display: block;
}

.page-header__nav-btn.is-open .page-header__icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contact-list {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .page-header__mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .page-header__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 796px;
    padding: 48px 40px;
  }
  .page-header__mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .page-header__mobile-nav-item {
    margin-bottom: 35px;
  }
  .page-header__mobile-nav-item:last-child {
    margin-bottom: 0;
  }
}

.page-header__mobile-nav-link {
  font-family: inherit;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.1428571429;
}
@media screen and (max-width: 480px) {
  .page-header__mobile-nav-link {
    font-size: 40px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 480px) {
  .page-header__mobile-nav-link:hover,
.page-header__mobile-nav-link:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 480px) {
  .page-header__mobile-nav-link--current {
    color: #2196f3;
  }
}

@media screen and (max-width: 480px) {
  .page-header__mobile-contacts-list {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 480px) {
  .page-header__mobile-contact-item {
    margin-bottom: 32px;
  }
  .page-header__mobile-contact-item:last-child {
    margin-bottom: 0;
  }
}

.page-header__mobile-contact-link {
  color: #757575;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 480px) {
  .page-header__mobile-contact-link {
    font-size: 34px;
    line-height: 1.2;
  }
}
.page-header__mobile-contact-link:hover, .page-header__mobile-contact-link:focus {
  color: #2196f3;
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-menu-item:last-child {
  border-right: none;
  padding-right: 0;
}
.mobile-menu-item:first-child {
  padding-left: 0;
}

.mobile-menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/images-studio/hero/imgmobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images-studio/hero/imgmobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-studio/hero/imgmobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-studio/hero/imgmobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-studio/hero/imgtablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-studio/hero/imgtablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-studio/hero/imgtablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-studio/hero/imgtablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-studio/hero/imgdesktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-studio/hero/imgdesktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-studio/hero/imgdesktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-studio/hero/imgdesktop@2x.jpg");
  }
}

.hero__title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6153846154;
  }
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.hero > .container {
  text-align: center;
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1199px) {
  .features {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .features__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    margin-right: 30px;
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .features__title {
    text-align: center;
  }
}

.features__desc {
  color: #757575;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}

/* FEATURES ICONS */
.features__antenna,
.features__clock,
.features__computer,
.features__astronaut {
  width: 70px;
  height: 70px;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}
@media screen and (max-width: 480px) {
  .features__icon {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .work-specification {
    display: none;
  }
}

.work-specification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-specification__item {
  margin-right: 30px;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}
.work-specification__item:last-child {
  margin-right: 0;
}

.work-specification__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-specification__img {
  display: block;
}

.work-specification__overlay {
  position: relative;
}

.work-specification__field {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
}

.team__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.1428571429;
    margin-bottom: 30px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 480px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

.team__image {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .team__content {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding: 30px 32px;
  }
}

.team__member {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .social-media__link {
    margin-right: 10px;
  }
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.1428571429;
  }
}

/* CLIENTS-ICONS */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.clients-list__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    margin-right: 30px;
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
  .clients-list__item:last-child {
    margin-right: 0;
  }
}
.clients-list__item:hover {
  border: 1px solid #2196f3;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
}
@media screen and (max-width: 480px) {
  .client__link {
    padding: 0;
    height: 100%;
  }
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__flex-pos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: center;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex-pos {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo--theme-dark {
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 480px) {
  .logo--theme-dark {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__adress-wrap {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress-wrap {
    margin-right: 70px;
  }
}

.address__list {
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  color: #ffffff;
}

.address__link--active:hover {
  color: #2196f3;
}

/* Social media in footer */
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 480px) {
  .join__title {
    text-align: center;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .join-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.join-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #44454e;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list__link:hover {
  background-color: #2196f3;
}

/* SIGN-UP FORM */
@media screen and (min-width: 1199px) {
  .signup-form {
    margin-left: 93px;
  }
}

.signup-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .signup-form__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .signup-form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .signup-form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.signup-form__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  outline: transparent;
}
@media screen and (max-width: 480px) {
  .signup-form__input {
    max-width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .signup-form__input {
    height: 50px;
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signup-form__input {
    height: 100%;
    width: 358px;
  }
}

.signup-form__btn {
  max-width: 200px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signup-form__btn:hover, .signup-form__btn:focus {
  background-color: #188ce8;
}
@media screen and (max-width: 1199px) {
  .signup-form__btn {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .signup-form__btn {
    height: 100%;
  }
}

.signup-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: scroll;
  z-index: 10;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 99;
  background-color: #ffffff;
}
@media screen and (max-width: 480px) {
  .modal {
    max-width: 450px;
    position: relative;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .modal {
    height: 581px;
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon .modal__btn:focus, .modal__btn:hover .modal__close-icon {
  fill: #2196f3;
}

.modal__title {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.contact-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form__wrap {
  position: relative;
  max-width: 370px;
}
@media screen and (min-width: 1199px) {
  .contact-form__wrap {
    max-width: 448px;
  }
}

.contact-form__input {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus, .contact-form__input:hover {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon, .contact-form__input:hover + .contact-form__icon {
  fill: #2196f3;
}

.contact-form__comment {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), comment 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), comment 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__comment:hover, .contact-form__comment:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.contact-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */
.checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.checkbox__input {
  opacity: 0;
  position: absolute;
}

.checkbox__icon {
  fill: rgb(33, 33, 33);
  margin-right: 9px;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  fill: none;
  background-color: #2196f3;
  background-image: url(../images/images-studio/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.checkbox__policy {
  font-size: 11px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .checkbox__policy {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox__policy-link {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .checkbox__policy-link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.signup-form__submit-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.signup-form__submit-btn:hover, .signup-form__submit-btn:focus {
  background-color: #188CE8;
}

.portfolio-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .portfolio-navigation__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.portfolio-navigation__item {
  margin-right: 8px;
}
.portfolio-navigation__item:hover, .portfolio-navigation__item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-navigation__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .portfolio-navigation__item {
    margin-bottom: 15px;
  }
}

.portfolio-navigation__button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation__button:hover,
.portfolio-navigation__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1199px) {
  .portolio-navigation {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio__item {
  width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__img {
  display: block;
  width: 100%;
}

.portfolio__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio__overlay {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.portfolio__position {
  position: relative;
  overflow: hidden;
}

.portfolio__wrap {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}/*# sourceMappingURL=main.css.map */