.contact-form{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  
  .contact-form__label{
  
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
color: $main-text-color;

 
  }
  
  
  .contact-form__input{
  display: block;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 0;
  padding-left: 42px;
  transition: border 250ms $time-function,
              outline 250ms $time-function;


              &:focus, &:hover{
                border: 1px solid $accent-color;
                outline: $accent-color;
              }
              
              @media screen and (min-width:1200px) {
                
                width: 448px;
              }
   
  }
  

  
  .contact-form__wrap{
    position: relative;
  }
  
  .contact-form__icon{
    position:absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms $time-function;

    .contact-form__input:focus + &,
     .contact-form__input:hover + &{
        fill: $accent-color;
    }
   
  }
  


  
  .contact-form__comment{
    padding: 12px 16px;
    width: 370px;
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border 250ms $time-function,
              comment 250ms $time-function;


           
              
              @media screen and (min-width:1200px) {
                width: 448px;
                
              }
              &:hover, &:focus{
                border: 1px solid $accent-color;
                outline: $accent-color;
              }
  }
  
  
  .contact-form__comment::placeholder{
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  }
  
  /* Checkbox */
  
  .checkbox{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
   
  }
  
  .checkbox__input{
  opacity: 0;
  position: absolute;
  }
  
  
  .checkbox__icon {
    fill: rgba(33, 33, 33, 1);
    margin-right: 9px;
    border-radius: 2px;
    transition: background-color 250ms $time-function;

    .checkbox__input:checked + &{
        fill:none;
        background-color:$accent-color;
      
      background-image: url(../images/images-studio/checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2px;
  }  }
  
  

  
  
  .checkbox__policy{
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;


  @media screen and ( min-width:1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  }
  
  .checkbox__policy-link{
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: $accent-color;


  @media screen and ( min-width:1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  }
  
  
  
  
  .signup-form__submit-btn{
    width: 200px;
    height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms $time-function;
  cursor: pointer;

  &:hover, &:focus{
    background-color: #188CE8;
  }
  
  
  }
  
 
  
  