.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer__flex {
    display: flex;
    align-items: baseline;
  }
  
  
  
  .logo--theme-dark {
    color: $white-color;
    margin-bottom: 20px;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .footer__adress-wrap {
    margin-right: 70px;
  }
  
  
  .address__list {
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .address__item {
    margin-bottom: 9px;
  }
  
  .address__link{
    color: $white-color;
  }
  
  .address__link--active:hover {
    color: $accent-color;
  }
  
  
  /* Social media in footer */
  
  
  .join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: $white-color;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  
  
  .join-list {
    display: flex;
  }
  
  .join-list__icon {
    width: 20px;
    height: 20px;
    fill: $white-color;
  }
  
  .join-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44454e;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    margin-right: 10px;
  
    transition: background-color 250ms $time-function;

    &:hover{
        background-color: $accent-color;
    }
  }
 
  
  /* SIGN-UP FORM */
  
  
  .signup-form{
    margin-left: 93px;
  }
  
  
  .signup-form__title{
  
  font-weight: 700;
  font-size: 14px;
  line-height:calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
  }
  
  .signup-form__wrap{
    display: flex;
    width: 570px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .signup-form__input{
    height: 100%;
    width: 358px;
    background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: $white-color;
  font-size: 14px;
  line-height:calc(16 / 14);
  letter-spacing: 0.03em;
  outline: transparent;
  }
  
  
  .signup-form__btn{
  width: 200px;
  height: 100%;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: $white-color;
  display: flex;
  align-items: center;
  padding-left: 28px;
  cursor: pointer;
  
  transition: background-color 250ms $time-function;

  &:hover, &:focus {
    background-color:#188ce8 ;
  }
  }

  
  .signup-form__icon{
    margin-left: 10px;
  }
  
  
  