.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .logo__element {
    color: $accent-color;
  }
  