.page-header__contact-list {
    display: flex;
  
    margin-left: auto;
  }
  
  .page-header__contact-item {
    align-items: center;

    &:first-child{
        margin-right: 50px;
    }
  }
  
 
  .page-header__contact-link {
    color: $main-text-color;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms $time-function;

    &:hover, &:focus{

        color: $accent-color;
    }
  }
  
  
  .page-header__icon {
    margin-right: 10px;
    fill: #757575;
  }
  
  .page-header__icon-envelope{
  

    .page-header__contact-link:hover &{
        fill: $accent-color;

    }
  }
  

  .page-header__icon-smartphone{

    .page-header__contact-link:hover &{
        fill: $accent-color;
    }
  }
  
 
  