.portfolio-navigation__list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (max-width:480px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
  }
  .portfolio-navigation__item {
    margin-right: 8px;

    &:hover, &:focus{
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:last-child{
        margin-right: 0;
    }

    @media screen and (max-width:480px) {
      margin-bottom: 15px;
    }
  }

  

  .portfolio-navigation__button {
    background-color: $button-color;
    color: $title-text-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    transition: background-color 250ms $time-function,
      color 250ms $time-function, box-shadow 250ms $time-function;
  }
  
  .portfolio-navigation__button:hover,
  .portfolio-navigation__button:focus {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }